# byte-compiled
__pycache__/

# distribution & packaging
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/
*.log

# configs file for Atom editor
.remote-sync.json

# temporary files
tmp/
